:root {
  --background-color: rgb(245, 240, 245);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Indie Flower", cursive;
  font-size: 20px;
  background-image: url("./images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 350px;
}

button:focus {
  border: none;
  outline: none;
}

input {
  box-sizing: border-box;
  border: none;
  line-height: 1.5;
}

input:focus {
  outline: none;
  background-color: var(--background-color);
}

.App {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* Input */
.input {
  margin: 20px auto;
  text-align: center;
}

.input-head {
  font-size: 40px;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
  margin-top: 20px;
}

.input-data {
  display: inline-block;
  color: white;
  margin-right: 10px;
}

.button-submit,
.advice-button {
  background-color: rgb(153, 47, 214);
  border-radius: 6px;
  color: white;
  border: none;
  font-family: "Indie Flower", cursive;
  font-weight: bold;
  font-size: 18px;
  padding: 0 10px;
  cursor: pointer;
  transition: all;
}
.button-submit:active {
  background-color: rgb(172, 57, 238);
}

/* Output */
.output {
  position: relative;
  color: white;
}

.output-content {
  color: white;
  display: flex;
  flex-direction: row;
  color: white;
  padding: 20px;
  justify-content: space-evenly;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
  font-weight: bold;
}

.output-content-inner {
  flex-basis: 30%;
  flex-shrink: 1;
  background-color: var(--background-color);
  color: black;
  padding: 20px;
  font-family: "Mukta", sans-serif;
  text-align: center;
  border-radius: 10px;
  position: relative;
}

.info p::before {
  content: "*";
  color: rgb(153, 47, 214);
}
.info {
  font-size: 12px;
  position: absolute;
  left: 50%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%); /* 50%为自身尺寸的一半 */
  -webkit-transform: translateX(-50%);
  text-overflow: initial;
}
.info-link {
  text-decoration: none;
}
.info-link:hover {
  text-decoration: underline;
}

/* Astrology */
.result {
  font-size: 25px;
  color: rgb(177, 75, 224);
  font-style: italic;
}

.astrology-img {
  width: 80%;
}

/* Zodiac */
.img-char {
  perspective: 1000px;
  cursor: pointer;
}

.img-char img {
  object-fit: cover;
  height: 300px;
}

.img-char-inner {
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.img-char:hover .img-char-inner {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
}

.back .char {
  font-size: 100px;
  font-family: "Indie Flower", cursive;
}

.personality {
  position: absolute;
  top: -20px;
}

.personality strong {
  font-size: 20px;
  font-style: italic;
}

/* Advice */
.advice-result {
  color: #6b6a6a;
  line-height: 1;
  height: 200px;
}

.advice-result::before,
.advice-result::after {
  content: '"';
  font-size: 40px;
  /* color: rgb(177, 75, 224); */
  color: black;
}

.advice-button {
  height: 33px;
  display: block;
  margin: 10px auto;
  font-family: "Mukta", sans-serif;
}

.advice-personal {
  margin-bottom: 50px;
}

@media screen and (max-width: 900px) and (min-width: 450px) {
  input {
    font-size: 16px;
  }
  .input-form label {
    display: inline-block;
    width: 40px;
    text-align: right;
    margin-right: 10px;
  }
  .input-data {
    display: block;
    margin: 5px auto;
  }

  .output-content {
    flex-direction: column !important;
  }
  .output-content-inner {
    width: 400px;
    height: 800px !important;
    margin: 10px auto;
  }
  .placeholder {
    height: 350px;
    width: 100%;
    background-color: transparent;
  }
  .advice-result {
    height: 150px;
    margin: 15px 0;
  }
}

@media screen and (max-width: 451px) {
  input {
    font-size: 16px;
  }
  .input-form label {
    display: inline-block;
    width: 40px;
    text-align: right;
    margin-right: 10px;
  }
  .input-data {
    display: block;
    margin: 5px auto;
  }
  .output-content {
    flex-direction: column !important;
  }
  .output-content-inner {
    margin-bottom: 20px;
  }
  .placeholder {
    height: 330px;
    width: 100%;
    background-color: transparent;
  }
  .advice-result {
    height: 150px;
    margin: 15px 0;
  }
}
